.article-layout {
  margin-top: 20px;

  @include breakpoint(xl) {
    margin-top: 70px;
  }
}

.home-post-image {
  width: 0;
  position: relative;
  right: -50px;
  margin-top: 100px;

  height: 175px;

  background: {
    size: cover;
    position: center;
  }

  img {
    position: relative;
  }
}