.content-container {
  position: relative;
  z-index: 4;

  padding-left: 25px;
  padding-right: 25px;

  width: 100%;

  @include breakpoint(lg) {
    padding-left: 50px;
    padding-right: 50px;
  }
}