@import 'wrapper';

@import 'content-container';

@import 'article';

.mobile-home-bg {
  background: {
    size: cover;
    position: center;
  }

  display: flex;
  flex-flow: column nowrap;

  @include breakpoint(lg) {
    background-image: none !important;
    display: inline-block;
    width: 100%;
  }
}