#app {
  height: 100%;
}

.wrapper {
  height: 100%;

  @include breakpoint(md) {
    overflow: hidden;
  }

  @include breakpoint(mdlg) {
    overflow: hidden;
  }

  .container-fluid {
    height: 100%;
  }
}

.content-wrapper {
  min-height: 100vh;

  @include breakpoint(lg) {
    min-height: calc(100vh - 70px);
  }
}

.footer {
  @include breakpoint(xl) {
    height: 50px;
  }
}