.animate-flux {
  overflow: hidden;
  @include transition(all, 500ms);

  h1, p {
    @include transition(all, 500ms);
    position: relative;
    top: -300px;
  }

  &.active {
    h1, p {
      @include transition(all, 500ms);
      top: 0;
    }
  }
}

.animate-large-number {
  overflow: hidden;
  //@include transition(all, 500ms);

  h1, p {
    //@include transition(all, 500ms);
    position: relative;
    top: -300px;
  }
}