article {
  p {
    color: palette(grey);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
  }

  .action-link {
    margin-bottom: 50px;
  }
}

.article-image-block {
  height: 100%;
  width: 100%;
  background: {
    size: cover;
  }

  display: flex;
  align-items: center;
  flex: auto;

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: white;
    margin: 24px 0;
  }

  @include breakpoint(lg) {
    height: 300px;
  }
}

/*The Wrapper*/
.my-scrollbar{
  width: 100%;
  max-height: 100%;
  overflow: hidden;

  @include breakpoint(md) {
    max-height: 75vh;
    pointer-events: auto;
  }

  @include breakpoint(mdlg) {
    max-height: 75vh;
    pointer-events: auto;
  }
}

/*The Content*/
.scroll-me{
  //min-width: 750px;
}