$imgPath: '/public/img' !default;

@if $PROD == true {

  $imgPath: '/expedition/public/img';

}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -2;

  overflow: hidden;

  .nopadding {
    overflow: hidden;
  }

  @include transition(all, 1000ms, ease-out-circ);

  * {
    @include transition(all, 1000ms, ease-out-circ);
  }

  > div {
    height: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .imageContainer {

    @include breakpoint(xl) {
    }
  }
}

.bg-image {
  height: 100%;
  width: 100%;

  overflow: hidden;

  display: none;

  background: {
    image: url('#{$imgPath}/web-bg.jpg');
    size: cover;
    position: center;
  };

  @include breakpoint(xl) {
    display: block;
  }
}

.bg-image {

  &-wrapper {
    height: 100%;
    width: 100%;


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
  }

  &-element {
    height: 100%;
    width: 100%;

    @include transition(all, 500ms);

    opacity: 0;

    overflow: hidden;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    };

    //position: absolute;

  }

}