.blog-article {

  position: relative;
  bottom: -30px;
  opacity: 0;

  .article-image {
    margin-bottom: 32px;

    img {
      width: 100%;
      @include breakpoint(lg) {
        width: auto;
      }
    }
  }

  .article-content {
    p {
      font-family: $main-font;
      font-size: 12px;
      color: palette(grey);

      margin-bottom: 32px;
    }
  }
}