.blog-content {

  opacity: 0;
  position: relative;
  bottom: -100px;

  p {
    font-family: $main-font;
    font-size: 12px;
    line-height: 15px;
    color: palette(grey);
  }
}

.more-content {
  margin-top: 40px;
  margin-bottom: 40px;

  .heading-small {
    text-align: left;
    margin-bottom: 30px;
    @include breakpoint(lg) {
      text-align: right;
    }
  }
}

.image-content {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;

  img {
    text-align: center;
    width: 100%;
    @include breakpoint(lg) {
      width: auto;
    }
  }
}