$slider-control-size: 5px;

.custom-slider {
  min-height: 55px;
  display: flex;
  flex-direction: column;

  position: relative;
  bottom: -30px;
  opacity: 0;

  margin-bottom: 45px;

  @include breakpoint(xl) {
    margin-bottom: 0;
    min-height: 110px;
  }

  p {
    font-family: $main-font;
    font-size: 12px;
    line-height: 18px;
    color: palette(grey);

    margin-bottom: 15px;

    @include breakpoint(xl) {
      margin-bottom: 35px;
      color: white;
    }
  }

  .slider-controls {

    @include transition(all, 200ms);
    margin-top: auto;

    span {
      @include transition(all, 200ms);
      width: $slider-control-size;
      height: $slider-control-size;
      display: inline-block;

      background: palette(pink);
      border-radius: 100%;

      margin-right: 10px;
      cursor: pointer;

      @include breakpoint(xl) {
        background: white;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        //background: palette(pink);
      }
    }
  }

  &--dark {
    @extend .custom-slider;

    p {
      color: palette(grey);
    }

    .slider-controls span {
      background: palette(pink);
    }
  }
}