footer {
  margin-top: 23px;
  @include breakpoint(lg) {
    margin-top: 0;
  }
}


.footer-links {
  display: inline-block;
  width: 100%;
  text-align:center;
  margin-bottom: 23px;

  @include breakpoint(xl) {
    margin-right: 43px;
    text-align: left;
    margin-bottom: 0;
    width: auto;
  }

  &:last-child {
    margin-right: 0;
  }

  li {
    display: inline-block;
    a {
      color: palette(grey);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.2;

      margin-right: 25px;

      &.active {
        color: palette(pink);
      }
    }

    &:last-child {
      a { margin-right: 0; }
      a span { margin-right: 0; }
    }
  }
}

.footer-links-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  .footer-links {
    text-align: center;

    @include breakpoint(xl) {
      text-align: left;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    li {
      display: inline-block;
      @include breakpoint(xl) {
        display: block;
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        margin-right: 0;

        span {
          margin-right: 0;
        }
      }
    }
  }
}