$logo-size: 80px;
$header-height: 126px;
$header-mobile-height: 140px;

.logo {
  width: $logo-size * 0.75;
  height: $logo-size * 0.75;

  @include breakpoint(lg) {
    width: $logo-size;
    height: $logo-size;
  }
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  height: $header-mobile-height;

  position: relative;

  @include breakpoint(xl) {
    height: $header-height;
    align-items: flex-end;
  }
}

.mobile-site-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: palette(pink);
  font-size: 12px;
  font-family: $avenir-black;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 58px;
  width: 100%;

  position: relative;
  z-index: 120;

  li {
    a {
      &.menu {
        font-size: 12px;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

.menu {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;


  &-wrapper {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;

    z-index: 115;
    background: rgba(255,255,255, .98);

    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(lg) {
      width: 50%;
      padding: 0 65px;
    }
  }

  ul {
    text-align: left;
    margin: auto 0;
    margin-left: 70px;

    position: relative;

    @include breakpoint(lg) {
      margin-left: 85px;
    }

    li {

      position: relative;
      bottom: -30px;
      opacity: 0;

      a {
        font-family: $main-font;
        font-size: 30px;
        line-height: 50px;
        font-weight: 700;
        text-transform: uppercase;

        display: inline-block;

        color: palette(grey);

        &:hover {
          text-decoration: none;
          color: palette(grey, dark);
        }
        
        &:active,
        &:focus {
          text-decoration: none;
        }

        &.router-link-active {
          color: palette(pink);
        }

      }
    }
  }
}