.support {

  &-credits-wrapper {
    // margin-bottom: 25px;
  }

  &-credit {
    margin-bottom: 25px;

    position: relative;
    bottom: -30px;
    opacity: 0;
  }

  &-logo {
    position: relative;
    bottom: -30px;
    opacity: 0;
    img {
      height: 80px;
      margin-right: 12px;
      // margin-bottom: 24px;
      margin-bottom: 0px;
    }
  }

  &-note {
    position: relative;
    bottom: -30px;
    opacity: 0;
  }

}