.team-member {

  position: relative;
  bottom: -30px;
  opacity: 0;

  margin-bottom: 44px;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }

  &-image {
    background: {
      size: cover;
      position: center;
    }
    height: 225px;
    margin-bottom: 30px;

    img {
      height: 100%;
    }
  }

  &-data {

    margin-bottom: 30px;

    h1 {
      margin-top: 7px;
      margin-bottom: 22px;
    }
    p {
      font-family: $main-font;
      font-size: 12px;
      color: palette(grey);
      line-height: 14px;
    }
  }

}