.text-animation {
  position: relative;
  bottom: -30px;
  line-height: 18px;

  opacity: 0;
}

.link-animation {
  position: relative;
  bottom: -30px;
  line-height: 18px;

  opacity: 0;
}

.action-link-animation {
  position: relative;
  right: -30px;

  opacity: 0;
}