$action-link-span-size: 22px;

.action-link {
  display: flex;
  align-items: center;

  color: palette(grey);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    width: $action-link-span-size;
    height: $action-link-span-size;
    background: palette(pink);
    color: white;

    font-weight: 600;

    margin-right: 7px;

    @include breakpoint(md) {

    }

    @include breakpoint(lg) {
      margin-right: 37px;
    }
  }

  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
    color: palette(pink);
  }
}