body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p, span {
  font-family: $main-font;
}

.heading {
  &-large {
    font-family: $avenir-black;
    font-weight: 700;
    text-transform: uppercase;
    color: palette(pink);

    font-size: 35px;
    line-height: 33px;

    @include breakpoint(lg) {
      font-size: 40px;
      line-height: 34px;
    }

    @include breakpoint(xl) {
      font-size: 60px;
      line-height: 1.1;
    }
  }

  &-medium {
    font-family: $avenir-black;
    font-weight: 700;
    text-transform: uppercase;
    color: palette(pink);

    font-size: 19px;
    line-height: 22px;

    @include breakpoint(lg) {
      font-size: 25px;
      line-height: 32px;
    }

    @include breakpoint(xl) {
      font-size: 35px;
      line-height: 42px;
    }
  }

  &-sm-medium {
    font-family: $avenir-black;
    font-weight: 700;
    text-transform: uppercase;
    color: palette(pink);

    font-size: 16px;
    line-height: 22px;
  }

  &-small {
    font-family: $avenir-black;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: palette(pink);
  }
}

.large-number {
  font-family: $avenir-black;
  font-weight: 900;
  color: #f9f9f9;
  font-size: 138px;
  text-align: left;

  position: relative;
  //left: -20px;

  @include breakpoint(lg) {
    //left: -50px;
    font-size: 198px;
    color: #f9f9f9;
  }

  @media only screen and (max-width: 1544px) {
    left: -50px;
  }
  @media only screen and (min-width: 1544px) {
    left: -20px;
  }

  @include breakpoint(xl) {
    line-height: 213px;
    font-size: 238px;
    color: #f9f9f9;
  }
}

.subheading {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;

  &-small {
    color: palette(grey);
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 12px;
    line-height: 14px;

    @include breakpoint(xl) {
      color: white;
    }
  }

}