.contact-form {

  position: relative;
  opacity: 0;
  bottom: -30px;

  margin-bottom: 30px;

  margin-top: 0;

  @include breakpoint(xl) {
    margin-bottom: 0;
  }

  @include breakpoint(lg) {
    margin-top: 100px;
  }

  .btn-container {
    margin-top: 30px;
    @include breakpoint(xl) {
      margin-top: 0;
    }
  }

  input {
    width: 100%;
  }

  > p {
    font-family: $main-font;
    font-size: 12px;
    line-height: 15px;
    color: palette(grey);
    margin-bottom: 30px;
  }
}