.form-item[data-placeholder] {

  @include transition(all, 150ms);
  height: 60px;
  width: 100%;
  display: inline-block;

  font-size: 13px;
  font-weight: 300;
  font-family: $main-font;

  position: relative;

  margin-bottom: 12px;

  input {
    @include transition(all, 150ms);
    border: none;
    height: 100%;
    border-radius: 0;
    border-bottom: 1px solid palette(grey, light);
    padding: 0;
    box-shadow: none;
    background: transparent;

    &:focus {
      border-color: palette(grey, light);
    }
  }

  &.active-placeholder {
    &:after {
      top: 12px;
      color: palette(grey, dark);
    }
    input {
      padding-top: 12px;
    }
  }

  &:after {
    @include transition(all, 150ms);
    content: attr(data-placeholder);
    position: absolute;
    color: palette(grey);
    pointer-events: none;
    font-weight: 500;
    font-size: 12px;
    left: 0;
    top: 24px;
    width: 70%;
  }
}

.form-item-textarea[data-placeholder]  {
  height: 132px;
}

.form-item.has-error {
  input, textarea {
    border-color: palette(pink);
  }
  &:after {
    content: attr(data-error);
    color: palette(pink);
  }
}