$PROD: false;

// Fonts

$main-font: 'Avenir-Medium', sans-serif;

$avenir-black: 'Avenir-Black', sans-serif;


// Colors



// Paths

$imgPath:   "../../img";

$pngPath:   "#{$imgPath}/png";

//$svgPath:   "#{$imgPath}/svg";

$fontPath:  "../../fonts";

// Etc...