@mixin transition ($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin transform ($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// boxflex? seriously?
@mixin boxflex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin order($order) {
  -webkit-box-ordinal-group: $order;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: $order;      /* OLD - Firefox 19- */
  -ms-flex-order: $order;              /* TWEENER - IE 10 */
  -webkit-order: $order;               /* NEW - Chrome */
  order: $order;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin breakpoint($media) {
  @if $media == sm {
    @media only screen and (min-width: 544px) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $media == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}