<template>
    <div id="app">
        <div class="wrapper">

            <audio
                    src="/audio/Lomidze_Arctic_Expedition.mp3"
                    autoplay
                    loop
                    ref="audio"
                    id="Audio">
                Your browser does not support the <code>audio</code> element.
            </audio>

            <a href="" id="menu" :class="{ open: isOpen }" class="menu-icon" v-on:click.stop.prevent="toggleMenuIcon">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="background bg-image">
                <div class="row no-gutters">
                    <div :class="'col-lg-' + dynamicLeftColumn" class="nopadding" style="background: #f9f9f9; position: relative; z-index: 1"></div>
                    <div :class="'col-lg-' + dynamicImageColumn" class="nopadding imageContainer">
                        <div class="bg-image-wrapper" ref="bgImageWrapper">

                            <div class="bg-image-element"
                                :style="{ 'background-image': 'url(' + largeBackgroundImage + ')' }"
                                ref="bgImage">
                            </div>

                        </div>
                    </div>
                    <div :class="'col-lg-' + dynamicRightColumn" class="nopadding" style="background: #f9f9f9; position: relative; z-index: 1"></div>
                </div>
            </div>

            <div class="menu-wrapper" ref="largeMenu">
                <div class="menu">
                    <ul>
                        <li class="menu-item">
                            <router-link
                                    @click.native="toggleMenuIcon()"
                                    :to="{ name: 'home', params: { id: '01' } }">
                                {{ translations.home }}
                            </router-link>
                        </li>
                        <!--
                        <li class="menu-item">
                            <router-link
                                    @click.native="toggleMenuIcon()"
                                    :to="{ name: 'blog', params: { lang: $route.params.lang } }">
                                {{ translations.blog }}
                            </router-link>
                        </li>
                        -->
                        <li class="menu-item">
                            <router-link
                                    @click.native="toggleMenuIcon()"
                                    :to="{ name: 'team', params: { lang: $route.params.lang } }">
                                {{ translations.team }}
                            </router-link>
                        </li>
                        <li class="menu-item">
                            <router-link
                                    @click.native="toggleMenuIcon()"
                                    :to="{ name: 'support', params: { lang: $route.params.lang } }">
                                {{ translations.support }}
                            </router-link>
                        </li>
                        <li class="menu-item">
                            <router-link
                                    @click.native="toggleMenuIcon()"
                                    :to="{ name: 'contacts', params: { lang: $route.params.lang } }">
                                {{ translations.contacts }}
                            </router-link>
                        </li>
                    </ul>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-lg-6">

                            <ul class="footer-links hidden-lg-down" style="margin-left: 85px;">
                                <li>
                                    <a href="" class="noise-ctrl">
                                        download <span>press kit</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-right" style="margin-bottom: 67px">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

            <router-view :appApi="appAPI" :translations="translations"></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                _PROD: false,
                assetsPath: '',

                appAPI: {
                    blog: '/data/blog.json',
                    contacts: '/data/contacts.json',
                    homeArticles: '/data/home-articles.json',
                    team: '/data/team.json',
                    support: '/data/support.json'
                },

                isOpen: false,

                dynamicLeftColumn: '',
                dynamicImageColumn: '',
                dynamicRightColumn: '',

                largeBackgroundImage: '',
            }
        },
        computed: {
            translations() {
                return this.$store.state.translations
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getTranslations()
            }
        },
        methods: {
            getTranslations() {
                this.$store.dispatch('getTraslations', this.$route.params.lang);
            },

            animateBackground(left, image, right) {
                this.dynamicLeftColumn = left;
                this.dynamicImageColumn = image;
                this.dynamicRightColumn = right;
            },

            checkIfMenuIsVisisble() {
                let $target = this.$refs.largeMenu;

                if ( $($target).has(event.target).length == 0 ) {
                    this.closeMenu();
                    this.isOpen = false;
                }
            },

            openMenu() {
                $(this.$refs.largeMenu).velocity({
                    right: 0,
                    opacity: 1
                }, {
                    duration: 900,
                    easing:  "easeOutSine",
                    complete() {

                    }
                });

                let menu_items = this.$el.querySelectorAll('.menu-item');

                for ( let i = 0; i < menu_items.length; i++  ) {
                    $(menu_items[i]).delay(250 * i).velocity({
                        bottom: 0,
                        opacity: 1
                    }, {
                        delay: 500,
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                }
            },

            closeMenu() {

                let menu_items = this.$el.querySelectorAll('.menu-item');

                for ( let i = 0; i < menu_items.length; i++  ) {
                    $(menu_items[i]).delay(150 * i).velocity({
                        bottom: -30,
                        opacity: 0
                    }, {
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                }

                $(this.$refs.largeMenu).velocity({
                    right: -100 + "%",
                    opacity: 0
                }, {
                    delay: 500,
                    duration: 900,
                    easing:  "easeOutSine",
                    complete() {
                        // menuItem
                    }
                });
            },

            toggleMenuIcon(open) {
                this.isOpen = !this.isOpen;

                if ( this.isOpen ) {
                    this.openMenu();
                } else {
                    this.closeMenu();
                }
            },

            animateBgIn() {
                $(this.$refs.bgImage).velocity({
                    'opacity': 1,
                }, {
                    // queue: false,
                    duration: 500,
                    easing:  "ease-in-out",
                    complete() {

                    }
                });
            },

            animateBgOut(callback) {
                $(this.$refs.bgImage).velocity({
                    'opacity': 0
                }, {
                    duration: 500,
                    easing:  "ease-in-out",
                    complete() {
                        setTimeout(function(){
                            if ( typeof callback === 'function' ) {
                                callback();
                            }
                        }, 500)
                    }
                });
            }

        },

        mounted() {
            this.$el.addEventListener('click', this.checkIfMenuIsVisisble)
        },

        created() {
            this.getTranslations();
            if ( this.$data._PROD ) {
                this.$data.assetsPath = '/expedition';
            } else {
                this.$data.assetsPath = '';
            }
        },
    }
</script>
