<template>
    <div>
        <div class="content-wrapper">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-6 hidden-md-down">
                        <article class="article-layout">

                            <div :class="'animate-flux ' + animateFlux" style="margin-bottom: 40px;">
                                <p class="subheading-small" v-html="articlesData.name"></p>
                            </div>

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-medium hidden-lg-down" style="margin-bottom: 50px;" v-html="articleData.title"></h1>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="custom-slider" ref="animatedText">
                                        <p ref="sliderText" v-html="articleFacts[factIndex]"></p>

                                        <div class="slider-controls">
                                            <span :class="" v-for="(fact, index) in articleFacts"
                                                  v-on:click.stop.prevent="slideText(index)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <div class="row">

                            <vue-scrollbar classes="my-scrollbar" ref="Scrollbar">
                                <div class="scroll-me">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-centered">
                                        <div class="image-content">
                                            <img v-bind:src="assetsPath + articleData.image" alt="" class="">
                                        </div>
                                        <div class="blog-content" ref="blogContent">
                                            <p v-html="articleData.largeText"></p>
                                            <div class="more-content ">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <h2 class="heading-small">
                                                            An event for Designers,
                                                            Web Developers and
                                                            Digital Dreamers.
                                                        </h2>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </vue-scrollbar>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 offset-lg-3">
                            <ul class="footer-links hidden-lg-down" style="margin-left: 67px">
                                <li>
                                    <a href="https://developers.facebook.com/docs/sharing/reference/share-dialog" class="action-link">
                                        {{ $props.translations.share }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 text-right">
                            <ul class="footer-links">
                                <li>
                                    <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                        <span><i class="icon-fb"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                        <span><i class="icon-twitter"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

    import VueScrollbar from 'vue2-scrollbar';

    export default {
        components: { VueScrollbar},
        props: ["appApi", "translations"],
        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',
                articleData: {},
                articlesData: {},
                articleFacts: {},
                factIndex: 0,
                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getSiteMobileTitle();
                this.getArticles();
            }
        },
        methods: {

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', this.$store.getters.translations.blog)
            },

            getArticles() {
                const that = this;
                this.$http.get(this.$props.appApi.blog).then(function(response){
                    let data = response.body;

                    this.articlesData = data[this.$route.params.lang];
                    this.articleData = data[this.$route.params.lang].articles[this.$route.params.postID];

                    this.articleFacts = data[this.$route.params.lang].articles[this.$route.params.postID].facts;

                    this.$parent.largeBackgroundImage = this.assetsPath + this.articlesData.image;

                });
            },
            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/blog/' + this.$route.params.postID;
                this.$router.push(switchedLanguageURL);
            },
            nextRoute() {
                const currentRoute = parseInt(this.$route.params.postID);
                let nextRoute;

                if ( currentRoute + 1 >= this.articlesData.articles.length  ) {
                    nextRoute = '/' + this.$route.params.lang + '/blog/0';
                } else {
                    nextRoute = '/' + this.$route.params.lang + '/blog/' + (currentRoute + 1);
                }

                this.$router.push(nextRoute);
            },
            previousRoute() {
                const currentRoute = parseInt(this.$route.params.postID);
                let nextRoute;

                if ( currentRoute - 1 < this.articlesData.articles.length  ) {
                    nextRoute = '/' + this.$route.params.lang + '/blog/0';
                } else {
                    nextRoute = '/' + this.$route.params.lang + '/blog/' + (currentRoute - 1);
                }

                this.$router.push(nextRoute);
            },

            animatePageIn() {
                this.animateFlux = 'active';

                // 2. animate text
                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                // animate blog text
                $(this.$refs.blogContent).delay(300).velocity({
                    bottom: 0,
                    opacity: 1
                }, {
                    duration: 700,
                    easing:  "easeOutCirc"
                });

                this.$parent.animateBgIn();

            },

            animatePageOut(callback) {
                this.animateFlux = '';

                // 1. animate text

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                // 2. animate link
                $(this.$refs.blogContent).delay(500).velocity({
                    bottom: -100,
                    opacity: 0
                }, {
                    duration: 700,
                    easing:  "easeOutCirc"
                });

                this.$parent.animateBgOut(callback);

            },

            slideText(index) {

                let that = this;

                $(this.$refs.sliderText).velocity({
                    lineHeight: 18,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeOutSine",
                    complete: function() {
                        that.factIndex = index;
                    }
                });

                $(this.$refs.sliderText).velocity({
                    lineHeight: 14,
                    opacity: 1
                }, {
                    delay: 350,
                    duration: 500,
                    easing:  "easeOutSine"
                });
            }

        },
        mounted() {
            let that = this;

            this.$parent.animateBackground( 0, 6, 6 );

            this.getArticles();

            setTimeout(() => {
                this.getSiteMobileTitle();
                that.$refs.Scrollbar.$data.allowBodyScroll = true;
                that.animatePageIn();
            }, 200);
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>