<template>
    <div>
        <div class="content-wrapper">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>
            <!-- Image only for mobile views -->
            <!--<div class="article-image-block hidden-xl-up"-->
                 <!--:style="{ 'background-image': 'url(' + this.$parent.largeBackgroundImage + ')' }">-->
                <!--<div>-->
                    <!--<div class="container-fluid content-container">-->
                        <!--<div>-->
                            <!--<h1 class="heading-large" v-html="blogData.name"></h1>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-6 hidden-md-down">
                        <article  class="article-layout">

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-large hidden-lg-down" style="margin-bottom: 50px;" v-html="blogData.name"></h1>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="custom-slider--dark" ref="animatedText">
                                        <p ref="sliderText" v-html="blogDataFacts[0]"></p>

                                        <div class="slider-controls">
                                            <span :class="" v-for="(image, index) in images"
                                                  v-on:click.stop.prevent="switchBlogImage(index)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <div class="row">

                            <vue-scrollbar classes="my-scrollbar" ref="Scrollbar">
                                <div class="scroll-me">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-centered">
                                        <article class="blog-article" v-for="(article, $index) in articles" ref="blogArticle">

                                            <div class="row">
                                                <div :class="{'pull-right col-lg-6': $index % 2 !== 0, 'col-lg-8': $index % 2 == 0 }">
                                                    <div class="article-image">
                                                        <img v-bind:src="assetsPath + article.image" alt="" class="img-fluid">
                                                    </div>
                                                        <div class="article-content">
                                                            <p v-html="article.title"></p>
                                                            <router-link :to="{ name: 'blogPost', params: { postID: article.id } }" class="action-link">
                                                                <span><i class="icon-plus"></i></span>
                                                            </router-link>
                                                        </div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </vue-scrollbar>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 offset-lg-3">
                            <ul class="footer-links hidden-lg-down" style="margin-left: 67px">
                                <li>
                                    <a href="" class="action-link">
                                        {{ $props.translations.share }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 text-right">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import VueScrollbar from 'vue2-scrollbar';
    import Velocity from 'velocity-animate';

    export default {
        components: { VueScrollbar, Velocity },
        props: ["appApi", "translations"],
        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',

                articles: {},
                articlesLength: '',
                images: {},

                blogData: {},
                blogDataFacts: {},

                blogFacts: '',
                factIndex: 0,
                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getArticles();
                this.getSiteMobileTitle();
            }
        },
        methods: {
            getArticles() {
                const that = this;
                this.$http.get(this.$props.appApi.blog).then(function(response){

                    let data = response.body;

                    this.blogData = data[this.$route.params.lang];
                    this.blogDataFacts = this.blogData.facts;
                    this.articles = this.blogData.articles;
                    this.images = data[this.$route.params.lang].images;

                    this.$parent.largeBackgroundImage = this.assetsPath + this.blogData.image;
                }).then(function(){
                    this.animatePageIn();
                })
            },

            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/blog';
                this.$router.push(switchedLanguageURL);
            },

            animatePageIn() {
                let that = this;
                this.animateFlux = 'active';

                // 2. animate text
                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $('.blog-article').each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: 0,
                        opacity: 1
                    }, {
                        delay: 500,
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                });

                this.$parent.animateBgIn();

            },

            animatePageOut(callback) {
                this.animateFlux = '';

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.blogArticle).each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: -30,
                        opacity: 0
                    }, {
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                })

                this.$parent.animateBgOut(callback);
            },

            switchBlogImage(index) {
                this.$parent.largeBackgroundImage = this.assetsPath + this.images[index];
            },

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', this.$store.getters.translations.blog)
            }

        },
        mounted() {
            let that = this;

            this.$parent.animateBackground( 3, 3, 6 );
            this.getArticles();

            setTimeout(() => {
                that.$refs.Scrollbar.$data.allowBodyScroll = true;
                this.getSiteMobileTitle();
            }, 200);
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>