<template>
    <div>
        <div class="content-wrapper">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-6">
                        <article class="article-layout">

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-large hidden-lg-down" style="margin-bottom: 50px;" v-html="contactsData.title"></h1>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="contact-owners" ref="ContactOwners">
                                        <p v-html="contactsData.text"></p>
                                        <div class="contact-item" v-for="owner in ownersData">
                                            <p>{{owner.name}}</p>
                                            <p>
                                                {{owner.phone}} <br>
                                                {{owner.email}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-10 col-centered">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="contact-form" ref="ContactForm">
                                            <p v-html="contactsData.formText"></p>
                                            <div v-for="field in fields">
                                                <div :class="'form-item'"
                                                     :data-placeholder="field"
                                                     :data-error="field + ' (' + contactsData.errorText + ')'">
                                                    <input type="text"
                                                           class="input"
                                                           :name="'contact[' + field + ']'"
                                                           @focus="activatePlaceholder($event)"
                                                           @blur="deactivatePlaceholder($event)"
                                                           v-on:keyup="checkForError($event)"
                                                           ref="contactField"
                                                    >
                                                </div>
                                            </div>
                                            <div class="btn-container center hidden-lg-up">
                                                <a href="" class="action-link" v-on:click.stop.prevent="validateForm()">
                                                    <span><i class="icon-arrow-right"></i></span>
                                                    {{ $props.translations.send }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 offset-lg-3">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="row">
                                        <ul class="hidden-lg-down">
                                            <li>
                                                <a href="" class="action-link action-link-animation" ref="actionLink" v-on:click.stop.prevent="submitForm()">
                                                    <span><i class="icon-arrow-right"></i></span>
                                                    {{ $props.translations.send }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

    import { mapActions } from 'Vue';

    export default {
        props: ["appApi", "translations"],

        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',
                placeholder: '',

                contactsData: {},
                ownersData: {},
                fields: {},

                factIndex: 0,
                assetsPath: this.$parent.assetsPath
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getSiteMobileTitle();
                this.getData();
            }
        },

        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },

        methods: {

            postContactFormAction(payload) {
                this.$store.dispatch('postContactForm', payload)
            },

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', this.$store.getters.translations.contacts)
            },

            getData() {
                const that = this;
                this.$http.get(this.$props.appApi.contacts).then(function(response){
                    let data = response.body;

                    this.contactsData = data[this.$route.params.lang];
                    this.ownersData = data[this.$route.params.lang].contacts;
                    this.fields = data[this.$route.params.lang].fields;
                    this.$parent.largeBackgroundImage = this.assetsPath + this.contactsData.image;

                }).then(function(){
                    that.animatePageIn();
                })
            },
            activatePlaceholder($event) {
                let $parent = $event.target.parentElement;
                $($parent).addClass('active-placeholder')
            },
            deactivatePlaceholder($event) {
                let $parent = $event.target.parentElement;

                if ( $($event.target).val().length < 1 ) {
                    $($parent).removeClass('active-placeholder')
                }
            },
            checkForError($event) {
                let $parent = $event.target.parentElement;

                if ( $($event.target).val().length > 1 ) {
                    $($parent).removeClass('has-error')
                }
            },
            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/contacts';
                this.$router.push(switchedLanguageURL);
            },

            validateForm() {
                let _this = this;
                let $contactsData = {};
                let $fields = this.$refs.contactField;

                $($fields).each(function(){
                    var $this = $(this);

                    if ( $this.val().length < 1 ) {
                        $this.parent().addClass('has-error')
                        return false;
                    } else {
                        return true;

                    }
                });

            },

            submitForm() {
                if ( this.validateForm ) {
                    this.postContactFormAction( 'asd' )
                }
            },

            animatePageIn() {
                this.animateFlux = 'active';

                // 1. animate link


                // 2. animate text
                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.actionLink).velocity({
                    right: 0,
                    opacity: 1
                }, {
                    delay: 200,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.ContactOwners).velocity({
                    bottom: 0,
                    opacity: 1
                }, {
                    delay: 400,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.ContactForm).velocity({
                    bottom: 0,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                this.$parent.animateBgIn();
            },

            animatePageOut(callback) {
                this.animateFlux = '';

                // 1. animate text

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.actionLink).velocity({
                    right: -30,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.ContactOwners).velocity({
                    bottom: -30,
                    opacity: 0
                }, {
                    delay: 400,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.ContactForm).velocity({
                    bottom: -30,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                this.$parent.animateBgOut(callback);

            }

        },
        mounted() {
            let that = this;

            this.$parent.animateBackground( 3, 3, 6 );

            this.getData();

            setTimeout(() => {
                that.animatePageIn();
                this.getSiteMobileTitle();
            }, 200);
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>