<template>
    <header>
        <ul class="header-nav">
            <li>
                <router-link :to="{ name: 'home', params: { id: '01' } }">
                    <img v-bind:src="assetsPath + '/public/img/logo.svg'" alt="" class="logo"/>
                </router-link>
            </li>
        </ul>
        <div class="mobile-site-title hidden-lg-up">
            {{ siteMobileTitle }}
        </div>
    </header>
</template>

<script>

    export default {
        props: ["translations"],
        data() {
            return {
                assetsPath: this.$parent.$parent.$data.assetsPath
            }
        },

        computed: {
            siteMobileTitle() {
                return this.$store.state.siteMobileTitle
            }
        },

        methods: {
            // getSiteMobileTitle() {
            //     this.$store.dispatch('getContactsTitle', payload)
            // }
        },

        created() {
            // init fn
        }
    }
</script>