<template>
    <div>
        <div class="content-wrapper">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-6 hidden-lg-down">
                        <article class="article-layout">

                            <div :class="'animate-flux ' + animateFlux" style="margin-bottom: 40px;">
                                <p class="subheading-small" v-html="blogData.blogTitle"></p>
                            </div>

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-medium hidden-lg-down" style="margin-bottom: 50px;" v-html="blogData.title"></h1>
                            </div>

                            <div class="row ">
                                <div class="col-lg-5">
                                    <div class="custom-slider" ref="animatedText">
                                        <p ref="sliderText" v-html="blogFacts[factIndex]"></p>

                                        <div class="slider-controls">
                                            <span :class="" v-for="(fact, index) in blogFacts"
                                                  v-on:click.stop.prevent="slideText(index)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">

                            <vue-scrollbar classes="my-scrollbar" ref="Scrollbar">
                                <div class="scroll-me">
                                    <div class="col-lg-10 col-centered">
                                        <div class="image-content">
                                            <img v-bind:src="assetsPath + article.articleImage" alt="" class="img-fluid">
                                        </div>
                                        <div class="blog-content" ref="blogContent">
                                            <p v-html="blogData.blogLargeText"></p>
                                        </div>
                                    </div>
                                </div>
                            </vue-scrollbar>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 offset-lg-3">
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <div class="row">
                                        <ul class="hidden-lg-down">
                                            <li>
                                                <a href="https://developers.facebook.com/docs/sharing/reference/share-dialog" class="action-link">
                                                    {{$props.translations.share}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                            <ul class="footer-links">
                                <li>
                                    <a href="" v-on:click.stop.prevent="previousRoute()" class="action-link">
                                        <span style="margin-right: 0"><i class="icon-arrow-left"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" v-on:click.stop.prevent="nextRoute()" class="action-link">
                                        <span><i class="icon-arrow-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

    import VueScrollbar from 'vue2-scrollbar';

    export default {
        components: { VueScrollbar },
        props: ["appApi", "translations"],
        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',
                articles: {},
                article: {},
                articlesLength: '',
                blogData: '',
                blogFacts: '',
                factIndex: 0,
                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getSiteMobileTitle();
                this.getArticles();
            }
        },
        methods: {

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', '')
            },

            getArticles() {
                const that = this;
                this.$http.get(this.$props.appApi.homeArticles).then(function(response){
                    let data = response.body;
                    this.articlesLength = Object.getOwnPropertyNames(data).length;
                    this.articles = response.body;
                    if ( response.body[this.$route.params.id] ) {
                        this.article = response.body[this.$route.params.id][this.$route.params.lang];
                        this.blogData = this.article.blog;
                        this.blogFacts = this.blogData.facts;

                        this.$parent.largeBackgroundImage = this.assetsPath + this.article.image;
                    } else {
                        that.$router.push('/' + this.$route.params.lang);
                    }
                }).then(function(){
                    that.animatePageIn();
                });
            },

            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/' + this.$route.params.id + '/post';
                this.$router.push(switchedLanguageURL);
            },

            nextRoute() {
                const currentRoute = this.$route.params.id;
                const firstCharacter = currentRoute.slice(0, 1);
                const secondCharacter = parseInt(currentRoute.slice(1, 2));
                let nextRoute;

                if ( secondCharacter + 1 > this.articlesLength  ) {
                    nextRoute = '/' + this.$route.params.lang + '/01/post';
                } else {
                    nextRoute = '/' + this.$route.params.lang + '/' + firstCharacter + (secondCharacter + 1) + '/post';
                }

                this.$router.push(nextRoute);
            },

            previousRoute() {
                const currentRoute = this.$route.params.id;
                const firstCharacter = currentRoute.slice(0, 1);
                const secondCharacter = parseInt(currentRoute.slice(1, 2));
                let nextRoute;

                if ( secondCharacter - 1 < this.articlesLength  ) {
                    nextRoute = '/' + this.$route.params.lang + '/01/post';
                } else {
                    nextRoute = '/' + this.$route.params.lang + '/' + firstCharacter + (secondCharacter - 1) + '/post';
                }

                this.$router.push(nextRoute);
            },

            animatePageIn() {
                this.animateFlux = 'active';

                // 1. animate link


                // 2. animate text
                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                // animate blog text
                $(this.$refs.blogContent).delay(300).velocity({
                    bottom: 0,
                    opacity: 1
                }, {
                    duration: 700,
                    easing:  "easeOutCirc"
                });

                this.$parent.animateBgIn();

            },

            animatePageOut(callback) {
                this.animateFlux = '';

                // 1. animate text

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                // 2. animate link
                $(this.$refs.blogContent).delay(500).velocity({
                    bottom: -100,
                    opacity: 0
                }, {
                    duration: 700,
                    easing:  "easeOutCirc"
                });

                this.$parent.animateBgOut(callback);
            },

            slideText(index) {

                let that = this;

                $(this.$refs.sliderText).velocity({
                    lineHeight: 18,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeOutSine",
                    complete: function() {
                        that.factIndex = index;
                    }
                });

                $(this.$refs.sliderText).velocity({
                    lineHeight: 14,
                    opacity: 1
                }, {
                    delay: 350,
                    duration: 500,
                    easing:  "easeOutSine"
                });
            }

        },

        created() {
            let that = this;


            this.$parent.animateBackground( 0, 6, 6 );

            this.getArticles();

            this.getSiteMobileTitle();

            setTimeout(() => {
                that.$refs.Scrollbar.$data.allowBodyScroll = true;
                that.animatePageIn();
            }, 200);

            document.getElementById('shareBtn').onclick = function() {
                FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: 'https://developers.facebook.com/docs/',
                }, function(response){});
            }

        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>