<template>
    <div>
        <div class="content-wrapper mobile-home-bg" :style="{ 'background-image': `url(${$parent.largeBackgroundImage})` }">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
            <!-- Image only for mobile views -->
            <div class="article-image-block hidden-xl-up">
                <div>
                    <div class="container-fluid content-container">
                        <div class="col-xs-8 col-sm-6">
                            <div>
                                <h1 class="heading-large" v-html="article.name"></h1>
                            </div>
                            <div>
                                <p v-html="article.description"></p>
                            </div>
                            <div>
                                <router-link :to="'/' + $route.params.lang + '/' + $route.params.id + '/post'"
                                             :class="'action-link'" >
                                    <span><i class="icon-plus"></i></span>
                                    {{ translations.readmore }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-6">
                        <article class="article-layout">

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-large hidden-lg-down" style="margin-bottom: 50px;" v-html="article.name"></h1>
                            </div>

                            <div class="row hidden-md-down">
                                <div class="col-md-4 col-lg-4">
                                    <p :class="'hidden-xl-up'"  v-html="article.description" :style="'margin-bottom: 20px'"></p>
                                    <router-link :to="'/' + $route.params.lang + '/' + $route.params.id + '/post'"
                                                 :class="'action-link link-animation'"  ref="animatedLink">
                                        <span><i class="icon-plus"></i></span>
                                        {{ translations.readmore }}
                                    </router-link>

                                    <a href="" v-on:click.stop.prevent="nextRoute()" class="action-link hidden-xl-up">
                                        <span><i class="icon-arrow-down"></i></span>
                                        {{ translations.scroll }}
                                    </a>

                                    <p :class="'text-animation hidden-lg-down'"  v-html="article.description" ref="animatedText"></p>
                                </div>
                                <div class="col-md-6 col-lg-6 offset-lg-1">
                                    <div class="animate-large-number hidden-lg-down">
                                        <h1 class="large-number" ref="largeNumber">
                                            {{ $route.params.id }}
                                        </h1>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                    <div class="col-lg-6 hidden-md-down">
                        <div class="row">
                            <div class="col-lg-11 offset-lg-1">
                                <div class="home-post-image"
                                     :style="{ 'background-image': 'url(' + article.homeImage + ')' }"
                                     ref="homePostImage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-left">
                            <ul class="hidden-lg-down">
                                <li>
                                    <a href="" v-on:click.stop.prevent="nextRoute()" class="action-link action-link-animation" ref="actionLink">
                                        <span><i class="icon-arrow-down"></i></span>
                                        {{ $props.translations.scroll }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 text-right">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

    import Velocity from 'velocity-animate';
    import _ from 'lodash';

    export default {
        components: { Velocity},
        props: ["appApi", "translations"],
        data() {
            return {
                visible: false,
                hidden: true,
                animateFlux: '',

                article: [],
                articles: [],
                articlesLength: 0,

                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getSiteMobileTitle();
                this.getArticles();
            }
        },
        methods: {

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', '')
            },

            getArticles() {
                const that = this;
                this.$http.get(this.$props.appApi.homeArticles).then(function(response){
                    let data = response.body;
                    this.articlesLength = Object.getOwnPropertyNames(data).length;
                    this.articles = response.body;
                    if ( response.body[this.$route.params.id] ) {
                        this.article = response.body[this.$route.params.id][this.$route.params.lang];

                        this.article.homeImage = this.assetsPath + this.article.homeImage;

                        this.$parent.largeBackgroundImage = this.assetsPath + this.article.image;

                    } else {
                        that.$router.push('/' + this.$route.params.lang);
                    }
                }).then(function(){
                    that.animatePageIn();
                })
            },

            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/' + this.$route.params.id;
                this.$router.push(switchedLanguageURL);
            },

            nextRoute() {
                const currentRoute = this.$route.params.id;
                const firstCharacter = currentRoute.slice(0, 1);
                const secondCharacter = parseInt(currentRoute.slice(1, 2));
                let nextRoute;

                if ( secondCharacter + 1 > this.articlesLength  ) {
                    nextRoute = '/' + this.$route.params.lang + '/01';
                } else {
                    nextRoute = '/' + this.$route.params.lang + '/' + firstCharacter + (secondCharacter + 1);
                }

                this.$router.push(nextRoute);
            },

            previousRoute() {
                const currentRoute = this.$route.params.id;
                const firstCharacter = currentRoute.slice(0, 1);
                const secondCharacter = parseInt(currentRoute.slice(1, 2));
                let previousRoute;

                if ( secondCharacter + 1 > this.articlesLength  ) {
                    previousRoute = '/' + this.$route.params.lang + '/01';
                } else {
                    previousRoute = '/' + this.$route.params.lang + '/' + firstCharacter + (secondCharacter + 1);
                }

                console.log(previousRoute)
                // this.$router.push(nextRoute);
            },

            animatePageIn() {

                let that = this;

                this.animateFlux = 'active';

                $(this.$refs.animatedLink.$el).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    delay: 200,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.actionLink).velocity({
                    right: 0,
                    opacity: 1
                }, {
                    delay: 200,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    delay: 400,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.homePostImage).velocity({
                    width: 100 + "%"
                }, {
                    delay: 400,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.largeNumber).velocity({
                    top: 0
                }, {
                    delay: 400,
                    duration: 700,
                    easing:  "easeInQuart"
                });

                this.$parent.animateBgIn();
            },

            animatePageOut(callback) {

                this.animateFlux = '';

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.actionLink).velocity({
                    right: -30,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.homePostImage).velocity({
                    right: -100 + "%",
                    width: 0
                }, {
                    delay: 400,
                    duration: 500,
                    easing:  "easeInBack",
                    complete(el) {
                        $(el).velocity({
                            right: -50,
                            width: 0
                        });
                        // console.log(el)
                    }
                });

                $(this.$refs.animatedLink.$el).delay(200).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.largeNumber).velocity({
                    top: -300
                }, {
                    duration: 700,
                    easing:  "easeInQuart"
                });

                this.$parent.animateBgOut(callback);
            }
        },
        mounted() {
            let that = this;
            let iScrollPos = 0;

            $(window).on('wheel', _.debounce(function(event, delta) {
                if (delta > iScrollPos) {
                    that.previousRoute();
                } else {
                    that.nextRoute();
                }
            }, 200));
        },

        created() {
            let that = this;

            this.getSiteMobileTitle();

            this.$parent.animateBackground( 3, 9, 0 );

            this.getArticles();
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    $(window).off('wheel');
                    next();
                }, 500)
            });
        }
    }
</script>