<template>
    <div>
        <div class="content-wrapper mobile-home-bg" :style="{ 'background-image': `url(${$parent.largeBackgroundImage})` }">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-4">
                        <article class="article-layout" style="margin-top: 70px;">

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-medium hidden-lg-down" style="margin-bottom: 12px;" v-html="$props.translations.support"></h1>
                            </div>

                            <div class="row support-credits-wrapper">
                                <div class="col-lg-6 support-credit" v-for="credit in credits" ref="credits">
                                    <p v-for="record in credit" v-html="record"></p>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="support-logo" v-for="(logo, index) in logos" :key="logo" ref="logos">
                                <!--span v-if="index > 5">
                                    <img :src="assetsPath + logo" alt="" style="height: 40px">
                                </span>
                                <span v-else>
                                    <img :src="assetsPath + logo" alt="" style="height: 56px; margin-right: 34px;">
                                </span-->
                                <span>
                                    <img :src="assetsPath + logo" alt="" style="height: 56px; margin-right: 34px;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 support-note">
                        <article class="article-layout" style="margin-top: 24px;">
                            <p>
                                Atbalsts pēcdoktorantūras pētniecības īstenošanai. Projekta numurs: 1.1.1.2/16/I/001 Pētniecības pieteikuma numurs: 1.1.1.2/I/16/118
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-2 offset-lg-3"></div>
                        <div class="col-lg-4 text-right">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ["appApi", "translations"],
        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',

                supportData: {},
                credits: {},
                logos: {},

                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getSiteMobileTitle();
                this.getData();
            }
        },
        methods: {

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', this.$store.getters.translations.support)
            },

            getData() {
                this.$http.get(this.$props.appApi.support).then(function(response){
                    let data = response.body;

                    this.supportData = data[this.$route.params.lang];
                    this.credits = data[this.$route.params.lang].credits;
                    this.logos = data[this.$route.params.lang].logos;

                    this.$parent.largeBackgroundImage = this.assetsPath + this.supportData.image;

                }).then(function(){
                    this.animatePageIn();
                })
            },

            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/support';
                this.$router.push(switchedLanguageURL);
            },

            animatePageIn() {
                this.animateFlux = 'active';

                $(this.$refs.logos).each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: 0,
                        opacity: 1
                    }, {
                        delay: 500,
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                });

                $(this.$refs.credits).each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: 0,
                        opacity: 1
                    }, {
                        delay: 500,
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                });

                $('.support-note').delay(150 * this.$refs.logos.length).velocity({
                    bottom: 0,
                    opacity: 1
                }, {
                    delay: 500,
                    duration: 900,
                    easing:  "easeOutCirc"
                });

                this.$parent.animateBgIn();
            },

            animatePageOut(callback) {
                this.animateFlux = '';

                $(this.$refs.logos).each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: -30,
                        opacity: 0
                    }, {
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                });

                $(this.$refs.credits).each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: -30,
                        opacity: 0
                    }, {
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                })

                $('.support-note').delay(150 * this.$refs.logos.length).velocity({
                        bottom: -30,
                        opacity: 0
                    }, {
                        duration: 900,
                        easing:  "easeOutCirc"
                    });

                this.$parent.animateBgOut(callback);

            }

        },
        mounted() {
            let that = this;

            this.$parent.animateBackground( 0, 12, 0 );
            this.getSiteMobileTitle();
            this.getData();
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>