<template>
    <div>
        <div class="content-wrapper">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-3">
                        <article class="article-layout">

                            <div :class="'animate-flux ' + animateFlux" style="margin-bottom: 40px;">
                                <p class="subheading-small" style="color: #999;" v-html="teamData.sectionTitle"></p>
                            </div>

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-medium hidden-lg-down" style="margin-bottom: 50px;" v-html="$props.translations.team"></h1>
                            </div>

                        </article>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3" v-for="member in teamMembers">
                                <div class="team-member" ref="teamMember">
                                    <div class="team-member-image"
                                         :style="{ 'background-image': `url(${member.largeImage})` }">
                                        <!--<img :src="assetsPath + member.portrait" alt="" class="img-fluid hidden-md-down">-->
                                    </div>
                                    <div class="team-member-data">
                                        <p v-html="member.slug"></p>
                                        <h1 class="heading-sm-medium" v-html="member.name"></h1>
                                        <p v-html="member.title"></p>
                                    </div>
                                    <router-link :to="'/' + $route.params.lang + '/team/' + member.id"
                                                 :class="'action-link'">
                                        <span><i class="icon-plus"></i></span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 offset-lg-3"></div>
                        <div class="col-lg-4 text-right">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ["appApi", "translations"],
        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',
                placeholder: '',

                teamData: {},
                teamMembers: {},

                factIndex: 0,
                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getSiteMobileTitle();
                this.getData();
            }
        },
        methods: {

            getSiteMobileTitle() {
                this.$store.dispatch('getSiteMobileTitle', this.$store.getters.translations.team)
            },

            getData() {
                this.$http.get(this.$props.appApi.team).then(function(response){
                    let data = response.body;

                    this.teamData = data[this.$route.params.lang];

                    this.teamMembers = this.teamData.members;

                }).then(function(){
                    this.animatePageIn();
                })
            },

            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/team';
                this.$router.push(switchedLanguageURL);
            },

            animatePageIn() {
                this.animateFlux = 'active';

                // 1. animate link


                // 2. animate text
                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.actionLink).velocity({
                    right: 0,
                    opacity: 1
                }, {
                    delay: 200,
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $('.team-member').each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: 0,
                        opacity: 1
                    }, {
                        delay: 500,
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                });

                this.$parent.animateBgIn();
            },

            animatePageOut(callback) {
                this.animateFlux = '';

                // 1. animate text

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.actionLink).velocity({
                    right: -30,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.teamMember).each(function(index){
                    $(this).delay(150 * index).velocity({
                        bottom: -30,
                        opacity: 0
                    }, {
                        duration: 900,
                        easing:  "easeOutCirc"
                    });
                })

                this.$parent.animateBgOut(callback);

            }

        },
        mounted() {
            this.$parent.animateBackground( 12, 0, 0 );
            this.getSiteMobileTitle();
            this.getData();
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>