<template>
    <div>
        <div class="content-wrapper">
            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-12">
                        <app-header :translations="this.$props.translations"></app-header>
                    </div>
                </div>
            </div>

            <div class="container-fluid content-container">
                <div class="row">
                    <div class="col-lg-6">
                        <article  class="article-layout">

                            <div :class="'animate-flux ' + animateFlux" style="margin-bottom: 40px;">
                                <p class="subheading-small" v-html="teamData.sectionTitle"></p>
                            </div>

                            <div :class="'animate-flux ' + animateFlux">
                                <h1 class="heading-large hidden-lg-down" style="margin-bottom: 50px;" v-html="teamMemberData.name"></h1>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="custom-slider" ref="animatedText">
                                        <p v-html="teamMemberData.title"></p>
                                    </div>
                                </div>
                            </div>


                        </article>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">

                            <vue-scrollbar classes="my-scrollbar" ref="Scrollbar">
                                <div class="scroll-me">
                                    <div class="col-lg-10 col-centered">
                                        <article class="blog-article" ref="aboutMember">

                                            <div class="article-image">
                                                <img v-bind:src="assetsPath + teamMemberData.largeImage" alt="" class="img-fluid">
                                            </div>

                                            <div class="article-content">
                                                <p v-html="teamMemberData.about"></p>
                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </vue-scrollbar>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid content-container">
                <footer>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="footer-links languages">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang==language) }">
                                        {{language}}
                                    </a>
                                </li>
                            </ul>

                            <ul class="footer-links">
                                <li>
                                    <noise-component :translations="this.$props.translations"></noise-component>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 offset-lg-3">
                            <ul class="footer-links hidden-lg-down" style="margin-left: 67px">
                                <li>
                                    <a href="" class="action-link">
                                        {{ $props.translations.share }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 text-right">
                            <div class="footer-links-wrapper">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://www.facebook.com/latvia.polar/" class="action-link">
                                            <span><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ExpeditionsLV" class="action-link">
                                            <span><i class="icon-twitter"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import VueScrollbar from 'vue2-scrollbar';
    import Velocity from 'velocity-animate';

    export default {
        components: { VueScrollbar, Velocity },
        props: ["appApi", "translations"],
        data() {
            return {
                visible: true,
                hidden: true,
                animateFlux: '',

                teamMemberData: {},
                teamData: {},

                assetsPath: this.$parent.assetsPath
            }
        },
        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },
        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getData();
            }
        },
        methods: {
            getData() {
                const that = this;
                this.$http.get(this.$props.appApi.team).then(function(response){
                    let data = response.body;

                    this.teamData = data[this.$route.params.lang];

                    this.teamMemberData = data[this.$route.params.lang].members[this.$route.params.memberId];

                    this.$parent.largeBackgroundImage = this.assetsPath + this.teamMemberData.mainImage;
                }).then(function(){
                    that.animatePageIn();
                });
            },

            switchLanguage(language) {
                const switchedLanguageURL = '/' + language + '/team/' + this.$route.params.memberId;
                this.$router.push(switchedLanguageURL);
            },

            animatePageIn() {
                let that = this;
                this.animateFlux = 'active';

                $(this.$refs.animatedText).velocity({
                    bottom: 0,
                    lineHeight: 16,
                    opacity: 1
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$refs.aboutMember).velocity({
                    bottom: 0,
                    opacity: 1
                }, {
                    duration: 700,
                    easing:  "easeInQuart"
                });

                this.$parent.animateBgIn();

            },

            animatePageOut(callback) {
                this.animateFlux = '';

                $(this.$refs.animatedText).velocity({
                    bottom: -30,
                    lineHeight: 20,
                    opacity: 0
                }, {
                    duration: 500,
                    easing:  "easeInQuart"
                });

                $(this.$parent.$refs.aboutMember).velocity({
                    bottom: -30,
                    opacity: 0
                }, {
                    duration: 700,
                    easing:  "easeInQuart"
                });

                this.$parent.animateBgOut(callback);
            },

        },
        mounted() {
            let that = this;

            that.$parent.animateBackground( 0, 6, 6 );
            this.getData();

            setTimeout(() => {
                that.$refs.Scrollbar.$data.allowBodyScroll = true;
                that.animatePageIn();
            }, 200);
        },

        beforeRouteUpdate (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        },

        beforeRouteLeave (to, from, next) {
            this.animatePageOut(function(){
                setTimeout(function(){
                    next();
                }, 500)
            });
        }
    }
</script>