<template>
    <a href="" v-on:click.stop.prevent="noiseCtrl" class="noise-ctrl">
        {{ translations.noise }}

        <span v-if="$store.state.noise">
            {{ translations.noiseOn }}
        </span>
        <span v-else>
            {{ translations.noiseOff }}
        </span>
    </a>
</template>

<script>

    export default {
        props: ["translations"],
        data() {
            return {
                audio: new Audio('./audio/Lomidze_Arctic_Expedition.mp3')
            }
        },
        methods: {
            noiseCtrl() {
                this.$store.state.noise = !this.$store.state.noise;

                let audio = document.getElementById('Audio');

                if ( this.$store.state.noise ) {
                    audio.play();
                } else {
                    audio.pause();
                }
            }
        }
    }
</script>