$icon-size: 8px;

$iconPath: '/public/img' !default;

@if $PROD == true {

  $iconPath: '/expedition/public/img';

}

.icon {

  display: inline-block;
  width: $icon-size;
  height: $icon-size;

  background: {
    //size: 100%;
    repeat: no-repeat;
    position: center;
  }

  &-plus {
    @extend .icon;
    background: {
      image: url('#{$iconPath}/icons/plus.svg');
    }
  }

  &-arrow-down {
    @extend .icon;
    background: {
      image: url('#{$iconPath}/icons/arrow-down.svg');
    }
  }

  &-arrow-left {
    @extend .icon;
    @include transform( rotate(90deg) );
    background: {
      image: url('#{$iconPath}/icons/arrow-down.svg');
    }
  }

  &-arrow-right {
    @extend .icon;
    @include transform( rotate(-90deg) );
    background: {
      image: url('#{$iconPath}/icons/arrow-down.svg');
    }
  }

  &-fb {
    @extend .icon;
    background: {
      image: url('#{$iconPath}/icons/fb.svg');
    }
  }

  &-twitter {
    @extend .icon;
    background: {
      image: url('#{$iconPath}/icons/twitter.svg');
    }
  }
}