.menu-icon {
  width: 31px;
  height: 31px;
  position: absolute;

  right: 30px;

  @include transform(rotate(0deg));
  @include transition(.25s ease-in-out);
  cursor: pointer;
  display: inline-block;

  z-index: 614;

  top: 62px;

  @include breakpoint(lg) {
    top: 87px;
    right: 65px;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: palette(pink);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);
  }
}

.menu-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-icon span:nth-child(3) {
  top: 17px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-icon.open span:nth-child(1) {
  @include transform(rotate(45deg));
  top: -3px;
  left: 0;
}

.menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  @include transform(rotate(-45deg));
  top: 20px;
  left: 0;
}